.admin-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #0f172a;
  color: white;
  border-radius: 12px;
}

.form-group {
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
}

.send-btn {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}